# Anonynous functions: Lambda

In [ ]:
def is_palindrome():
    word = input("Write a word: ").lower().replace(" ", "")
    word_inverted = word[::-1]
    print(f'{word}, {word_inverted}')
    if word == word_inverted:
        return True
    else:
        False


def run():
    if is_palindrome():
        print("The word is a palindrome.")
    else:
        print("The word is not a palindrome.")


if __name__ == '__main__':
    run()

In [ ]:
palindrome = lambda string: string == string[::-1]
print(palindrome('ana'))

In [ ]:
def palindrome(string):
    return string == string[::-1]

print(palindrome('anana'))

In [1]:
# Just practicing

text = 'hola, bonitos, perritos'
print(text.split(','))

texto = ' hello  apple'
print(''.join(texto.split()))
# print(" ".join(texto.split()))

myTuple = ("John", "Peter", "Vicky")

x = " ".join(myTuple)

print(x)

['hola', ' bonitos', ' perritos']
helloapple
John Peter Vicky

# High order functions

A **_high order function_** is a function that has another function as a parameter.

In [3]:
def saludo(a):
    a()

def hola():
    print(f'hola!!!')

def adios():
    print(f'Adios!!!')

saludo(hola)
saludo(adios)

hola!!!
Adios!!!

In [ ]:
LIMIT = 1000
counter = 0
while counter < LIMIT:
    if counter % 2 == 0:
        print(f'{counter} es divisible entre 2.')
    else:
        counter += 1
        continue
    counter += 1

In [ ]:
for i in range (1001):
    if i % 2 == 0:
        print(f'{i} es divisible entre 2.')
    else:
        continue

In [5]:
mylist = [i for i in range(1001) if i % 2 == 0]

print(mylist)

# Convert a list of numbers to a list of strings of each number, then strings of each number.
mylist = [str(i) for i in mylist]
mylist = " ".join(mylist)
print(mylist)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000]
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200 202 204 206 208 210 212 214 216 218 220 222 224 226 228 230 232 234 236 238 240 242 244 246 248 250 252 254 256 258 260 262 264 266 268 270 272 274 276 278 280 282 284 286 288 290 292 294 296 298 300 302 304 306 308 310 312 314 316 318 320 322 324 326 328 330 332 334 336 338 340 342 344 346 348 350 352 354 356 358 360 362 364 366 368 370 372 374 376 378 380 382 384 386 388 390 392 394 396 398 400 402 404 406 408 410 412 414 416 418 420 422 424 426 428 430 432 434 436 438 440 442 444 446 448 450 452 454 456 458 460 462 464 466 468 470 472 474 476 478 480 482 484 486 488 490 492 494 496 498 500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548 550 552 554 556 558 560 562 564 566 568 570 572 574 576 578 580 582 584 586 588 590 592 594 596 598 600 602 604 606 608 610 612 614 616 618 620 622 624 626 628 630 632 634 636 638 640 642 644 646 648 650 652 654 656 658 660 662 664 666 668 670 672 674 676 678 680 682 684 686 688 690 692 694 696 698 700 702 704 706 708 710 712 714 716 718 720 722 724 726 728 730 732 734 736 738 740 742 744 746 748 750 752 754 756 758 760 762 764 766 768 770 772 774 776 778 780 782 784 786 788 790 792 794 796 798 800 802 804 806 808 810 812 814 816 818 820 822 824 826 828 830 832 834 836 838 840 842 844 846 848 850 852 854 856 858 860 862 864 866 868 870 872 874 876 878 880 882 884 886 888 890 892 894 896 898 900 902 904 906 908 910 912 914 916 918 920 922 924 926 928 930 932 934 936 938 940 942 944 946 948 950 952 954 956 958 960 962 964 966 968 970 972 974 976 978 980 982 984 986 988 990 992 994 996 998 1000

In [ ]:
import random

mylist = [random.randint(0,1000) for i in range(1001)]
mylist = sorted(mylist)
# mylist = [str(i) for i in mylist]
# mylist = " ".join(mylist)
# mylist = int(mylist)
print(mylist)

In [ ]:
import random

mylist = [random.randint(0,100) for i in range(101)]
mylist = sorted(mylist)
odd = [i for i in mylist if i % 2 != 0]
print(odd)

## Example for using lambda and FILTER function

In [87]:
import random

mylist = [random.randint(0,100) for i in range(101)]
# odd = list(filter(lambda x: x % 2 != 0, sorted(mylist)))
odd = list(filter(lambda x: x**2, range(1,101)))

print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## Example using map function

In [ ]:
mylist = []

for i in range(1,101):
    mylist.append(i**2)

print(mylist)

In [ ]:
mylist = [i**2 for i in range(1,101)]
print(mylist)

In [83]:
odd = list(map(lambda x: x**2, range(1,101)))
# odd = list(map(lambda x: x % 2 != 0, range(1,101)))

print(odd)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [ ]:
def myfunc(n):
    return lambda x: x * n

double = myfunc(2)
triple = myfunc(3)

print(double(5))

print(triple(9))

## Using REDUCE fuction

In [ ]:
mylist = [2, 2, 2, 2, 2]
all_multiplied = 1

for i in mylist:
    all_multiplied = all_multiplied * i

print(all_multiplied)

In [81]:
from functools import reduce

mylist = [2, 2, 2, 2, 2]

all_multiplied = reduce(lambda a, b: a * b, mylist)

print(all_multiplied)

32